<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icloud.dao.event.EventModuleMapper">
	<resultMap id="BaseResultMap" type="com.icloud.model.event.EventModule">
		<result column="event_id" jdbcType="VARCHAR" property="eventId" />
		<result column="module_id" jdbcType="VARCHAR" property="moduleId" />
		<result column="module_label" jdbcType="VARCHAR" property="moduleLabel" />
	</resultMap>
	
	<insert id="save" parameterType="com.icloud.model.event.EventModule">

		insert into t_event_module (event_id, module_id,module_label
		)
		values (#{eventId,jdbcType=VARCHAR},
		#{moduleId,jdbcType=VARCHAR},#{moduleLabel,jdbcType=VARCHAR}
		)
	</insert>
	
	<delete id="delete" parameterType="com.icloud.model.event.EventModule">
		 delete from t_event_module 
		 <where>
		     <if test="moduleId != null">
		       and module_id=#{moduleId}
		     </if>
		     <if test="eventId != null">
		       and event_id=#{eventId}
		     </if>
		     <if test="moduleLabel != null ">
		       and module_label=#{moduleLabel}
		     </if>
		 </where>
	</delete>
	
	
	
	
	<select id="findForList" parameterType="String"
		resultMap="BaseResultMap">
		select * from t_event_module where event_id=#{eventId} order by module_label asc
	</select>
	
	<select id="findForCount" parameterType="String"
		resultType="Integer">
		select count(1) from t_event_module where event_id=#{eventId}
	</select>


</mapper>