<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icloud.dao.eventmanage.EventStarRecordMapper">
	<resultMap id="BaseResultMap" type="com.icloud.model.eventmanage.EventStarRecord">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="event_id" jdbcType="VARCHAR" property="eventId" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="header_img" jdbcType="VARCHAR" property="headerImg"/> 
		<result column="nick" jdbcType="VARCHAR" property="nick" />
		<result column="create_date" property="createDate" />
	</resultMap>

    <!-- 查询点赞列表 -->
    <select id="findList" parameterType="com.icloud.dao.eventmanage.EventStarRecordMapper" resultMap="BaseResultMap">
     select * from t_event_star 
     <where>
       <if test="null != userId">
        and userId=#{userId}
       </if>
       <if test="null != eventId">
        and event_id = #{eventId}
       </if>
     </where>
    </select>
    
    
</mapper>