<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icloud.dao.comment.CommentConfigMapper">
	<resultMap id="BaseResultMap" type="com.icloud.model.comments.CommentConfig">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="event_id" jdbcType="VARCHAR" property="eventId" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="model" jdbcType="VARCHAR" property="model" />
		<result column="is_open" jdbcType="VARCHAR" property="isOpen" />
		<result column="is_allow_type" jdbcType="VARCHAR" property="isAllowType" />
	</resultMap>

	<sql id="Base_Column_List">
		id, event_id, start_time,
		end_time,is_open,model,is_allow_type
	</sql>
	<select id="selectByEvent" parameterType="String" resultMap="BaseResultMap">
		select cc.* from t_event_info ei,t_comment_config cc ,t_event_module
		em where em.module_id=cc.id and cc.event_id=ei.id  and ei.id=#{eventId}
	</select>


</mapper>