<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icloud.dao.eventmanage.EventFollowMapper">
	<resultMap id="BaseResultMap" type="com.icloud.model.eventmanage.EventFollow">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="event_id" jdbcType="VARCHAR" property="eventId" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="header_img" jdbcType="VARCHAR" property="headerImg"/> 
		<result column="nick" jdbcType="VARCHAR" property="nick" />
		<result column="create_date" property="createDate"/>
	</resultMap>
	
	<select id="findForList" parameterType="com.icloud.model.eventmanage.EventFollow"
		resultMap="BaseResultMap">
		select * from t_event_follow
		<where>
			<if test="eventId != null">
				and event_id=#{eventId}
			</if>
			<if test="userId != null">
				and event_id=#{userId}
			</if>
		</where>
	</select>

</mapper>